<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crumb Cafe</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<%- include('banner.ejs') %>

	<div class="back-buttons">
		<a href="/">Crumb Cafe</a>
	</div>

	<p>Welcome to the Crumb Cafe!</p>

</body>
</html>
