<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crumb Cafe admin</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<%- include('../../banner.ejs') %>

	<div class="content">

		<div class="back-buttons">
			<a href="/">Crumb Cafe</a>
			/
			<a href="/admin">admin</a>
			/
			<a href="/admin/menu">menu</a>
			/
			<a href="/admin/menu/<%= item.id %>">item</a>
			/
			<a href="/admin/menu/<%= item.id %>/edit">edit</a>
		</div>

		<% if (message) { %>
			<div class="flash-message">
				<%= message %>
			</div>
		<% } %>

    <pre>
      Coming soon!
    </pre>

</body>
</html>
