<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crumb Cafe admin page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<%- include('banner.ejs') %>

	<div class="content">

		<% if (message) { %>
			<div class="flash-message">
				<%= message %>
			</div>
		<% } %>

		<a href="#menu">Jump to Menu</a>
		<a href="#orders">Jump to Orders</a>
		<a href="#students">Jump to Students</a>

		<div class="items-container" id="menu">
			<span class="admin-table-title">Menu items</span>
			<table>
			</table>
		</div>

		<div class="orders-container" id="orders">
			<span class="admin-table-title">Orders</span>
			<table>
			</table>
		</div>

		<div class="students-container" id="students">
			<span class="admin-table-title">Students</span>
			<table>
			</table>
		</div>

	</div>

</body>
</html>
