<div class="banner">

  <div class="sub-banner banner-left">

    <a href="/">The Crumb Cafe</a>
    
  </div>

  <div class="sub-banner banner-right">

    <% if (user) { %>

      <span>
        Logged in as <a href="/admin"><%= user.username %> </a>
      </span>

      <form action="/admin/logout" method="post">

        <button id="logout" type="submit">Log out</button>

      </form>

    <% } else { %>

      <a href="/admin/login">Log in</a>
      <a href="/admin/register">Register</a>

    <% }%>

  </div>

</div>
