<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crumb Cafe home</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

	<%- include('banner.ejs') %>

	<p>Welcome to the Crumb Cafe!</p>
	
</body>
</html>
