<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Crum Cafe login page</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <form action="login" method="post">
    <p>
      Network username:
      <input type="text" name="username" />
    </p>

    <p>
      Student ID number:
      <input type="text" name="id" />
    </p>

    <button type="submit">Log in</button>

  </form>
</body>
</html>
